.ant-tabs-tab {
  max-width: 150px;
  div {
    border: 1px solid black !important;
    background-color: green !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }
}

.tabs-is-dragging {
  max-width: 150px;
  border: 1px dotted black !important;
  div {
    border: 1pxs solid black !important;
    background-color: green !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
  }
}
